services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
  backend:
    env_file:
      - backend/envs/common.env
      - backend/envs/secrets.env
    container_name: backend
    build:
      context: ./backend
    depends_on:
      - db
      - redis
  db:
    image: postgres:17
    container_name: db
    env_file:
      - db/envs/secrets.env
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:latest
    container_name: redis
    entrypoint: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    volumes:
      - redis_data:/data
  nginx:
    build: ./nginx
    ports:
      - "443:443"
    depends_on:
      - frontend
      - backend
    healthcheck:
      test: curl -fk https://local.kabir.dev && curl -fk https://local.kabir.dev/api/healthcheck
      interval: 30s
      timeout: 10s
      retries: 5
volumes:
  db_data:
  redis_data:
