services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
  backend:
    env_file:
      - backend/envs/common.env
    container_name: backend
    build:
      context: ./backend
    depends_on:
      - db
      - redis
  db:
    image: postgres:17
    container_name: db
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:latest
    container_name: redis
    entrypoint: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    volumes:
      - redis_data:/data
  nginx:
    build: ./nginx
    ports:
      - "443:443"
    depends_on:
      - frontend
      - backend
volumes:
  db_data:
  redis_data:
