@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fed34c;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
